@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margin and spacing */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.main {
	display: flex;
	flex-direction: row;
}

.leaflet-popup-container {
	font-weight: bold;
	background-color: white;
}

.leaflet-popup-content-wrapper {
	border-radius: 8%;
	padding: 2%;
	width: fit-content;
}

/*
.leaflet-popup-content-wrapper:hover, .popup-accordion:not(.active) {
	background-color: #91C9DB;
}
*/

.partner-popup {
	cursor: pointer;
	width: 100%;
	text-align: left;
	font-size: medium;
	border: none;
	outline: none;
	color: #387181;
	align-items: center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 10%;
	left: 25%;
	width: 100%; /* Adjust the width of the modal as needed */
	max-width: 480px;
	height: 100%; /* Adjust the height of the modal as needed */
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
}

.modal-header {
	margin-left: 25%;
	margin-top: 5%;
	padding: 24px 24px;
	width: 100%;
	background-color: #fcfcfc;
	transition: 0.4s;
}

.modal-content {
	margin-top: -72px;
	margin-left: 25%;
	padding: 24px 32px;
	width: 100%;
	background-color: #fcfcfc;
	font-family: Hind;
	font-size: 16px;
	font-style: normal;
	height: calc(80% - 140px);
	overflow-y: auto;
}

#modalContent > div {
	margin-bottom: 15px;
}

.modal-activities {
	font-size: 20px;
	font-weight: bold;
}

.modal-button {
	margin-left: 25%;
	margin-top: -15%;
	padding: 10px 24px;
	width: 100%;
}

.modal-name {
	color: #3d97af;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 110%;
	letter-spacing: 0.48px;
	margin-bottom: 24px;
}

.modal-address {
	color: #a0a0a0;
	font-family: Hind;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 0.32px;
	margin-bottom: -16px;
}
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.partner-geolocation {
	display: flex;
	align-items: center;
}

.partner-info {
	line-height: 0.6;
}

.partner-label {
	font-weight: bold;
}
