body {
  margin: 0;
  font-family: 'Geist', sans-serif;
  font-size: 0.85rem;
  background-color: white;
}

.filter-header {
  background-color: #0F2781;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.filter-content {
  padding: 0rem 2rem;
  font-size: 0.9rem;
}

.filter-options label {
  display: inline-block;
  margin: 0.25rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.filter-options:hover {
  background-color: #f3f4f6;
}

.filter-footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
}

.filter-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.filter-apply {
  background-color: #0F2781;
  color: white;
}

.filter-close {
  background-color: #0F2781;
  color: white;
  border: none;
  outline: none;
  font-size: 17px;
}

/* TO DO:
- fix filter modal (search bar, variables based on sheets)
- fix figma designs
- add design to overall app (general theme) - follow figma design
- finish figma filter modal proposed design and add to documentation
- make code variable-based and consistent
 */