/* Color Definition */
:root {
	--darkbg: #387181;
	--lightbg: #3d97af;
	--custom-black: #2f2f2f;
	--custom-gray: #a0a0a0;
	--custom-dark-gray: #979797;
	--custom-medium-gray: #f6f6f6;
	--custom-light-gray: #fcfcfc;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background: none;
	text-decoration: none;
	list-style: none;
}

button,
input {
	border: none;
	outline: none;
	width: auto;
	height: auto;
}

button {
	cursor: pointer;
}

.form-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 999999999999999;
	background-color: #fafafa;
}

.form-body {
	padding: 2rem;
	overflow-y: scroll;
	border-radius: 0.5rem;
	width: 100%;
}

.form-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;
	align-items: center;
}

.form-heading {
	font-family: 'Montserrat';
	font-size: 1.875rem /* 30px */;
	line-height: 2.25rem /* 36px */;
	font-weight: 700;
	color: var(--darkbg);
}

.form-icon {
	width: 2rem /* 32px */;
	height: 2rem /* 32px */;
	stroke: var(--custom-dark-gray);
}

.form-section {
	margin-bottom: 2.5rem;
}

.form-subheading {
	width: 100%;
	color: var(--lightbg);
	font-family: 'Montserrat';
	font-size: 1.25rem /* 20px */;
	line-height: 1.75rem /* 28px */;
	font-weight: 700;
	margin-bottom: 1.5rem /* 24px */;
}
.form-field {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	align-items: center;
}

.form-label {
	font-family: 'Montserrat';
	font-size: 1.25rem /* 20px */;
	line-height: 1.75rem /* 28px */;
	color: var(--custom-gray);
	flex: 1 1 0%;
	padding-right: 3rem;
}

.form-input {
	padding-top: 1rem /* 16px */;
	padding-bottom: 1rem /* 16px */;
	padding-left: 2rem /* 32px */;
	padding-right: 2rem;
	width: 24rem /* 384px */;
	border-radius: 0.25rem /* 4px */;
	font-family: Montserrat, sans-serif;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	border-color: #cbd5e0;
}

.form-buttons-container {
	padding-top: 2rem /* 32px */;
	padding-bottom: 2rem /* 32px */;
	/* margin-top: 2rem /* 32px */
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-button {
	width: 100%;
	padding-top: 1rem /* 16px */;
	padding-bottom: 1rem /* 16px */;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 1.5rem /* 24px */;
	line-height: 2rem /* 32px */;
	font-weight: 700;
	border-radius: 0.5rem /* 8px */;
}

.positive {
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
	background-color: var(--lightbg);
	color: var(--custom-light-gray);
	transition: background-color 0.3s ease, color 0.3s ease,
		transform 0.3s ease;
	border-style: solid;
	border-color: var(--lightbg);
}

.positive:hover {
	transform: scale(1.01);
	background: none;
	border-style: solid;
	border-color: var(--lightbg);
	color: var(--lightbg);
}

.negative {
	transition: background-color 0.3s ease, color 0.3s ease,
		transform 0.3s ease;
	background: none;
	border-style: solid;
	border-color: var(--custom-red);
	color: var(--custom-red);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.negative:hover {
	transform: scale(1.01);
	color: var(--custom-light-gray);
	background-color: var(--custom-red);
}
